:root {
  --background-color1--: white;
  --color1--: white;
  --color2--: orange;
  --font-family1--: "Poppins", sans serif;
}
body,
html {
  display: flex;
  background-color: var(--background-color1--);
}
