.products {
  display: flex;
  flex-wrap: wrap;
}
.products img {
  width: 300px;
  height: 250px;
  margin: 15px;
}
.product {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15%;
  text-align: center;
  height: 390px;
  margin: 1.5rem;
  font-family: var(--font-family1--);
}
.product:hover {
  scale: 1.1;
  transition: 0.2s;
  cursor: pointer;
}
.product:active {
  scale: 1;
  transition: 0.2s;
}
.bar h1 {
  font-family: var(--font-family1--);
  font-weight: 600;
  margin-left: 2rem;
}
.product h2 {
  font-size: 23px;
  font-weight: 500;
  padding: 0.4rem;
}
.product h1 {
  font-size: 24px;
  color: rgb(255, 210, 45);
  font-weight: 550;
  padding: 0.2rem;
}
.main {
  margin: 3rem;
}
