.nav {
  color: #979eb0;
  padding: 12px 35px;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-family: var(--font-family1--);
  font-size: 17px;
  border-right: 2px solid rgb(206, 205, 202);
  top: 0;
  height: 100vh;
  position: sticky;
}
.nav > .logo > .material-symbols-outlined {
  padding: 0.5rem;
  font-size: 40px;
  text-align: center;
  background-color: rgb(206, 205, 202);
  border-radius: 20px;
  margin-top: 0.6rem;
  margin-right: 0.6rem;
}
.nav .logo {
  display: flex;
  margin-left: 1rem;
}
.nav p {
  padding-top: 1rem;
  margin-top: 1rem;
}
.nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 02);
}
.user {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--color1--);
  box-shadow: 0px 4px 6px;
  border-radius: 15px;
  height: 11rem;
  justify-content: center;
  margin-bottom: -30px;
}
.user button {
  background-color: var(--background-color1--);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border-radius: 15px;
  margin: 1rem;
  border: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 02);
  font-weight: 500;
}
.user button:hover {
  background-color: var(--color2--);
  transition: 0.2s;
  cursor: pointer;
}
.user button:active {
  scale: 0.9;
  transition: 0.2s;
}
.user strong {
  font-weight: 600;
  color: black;
  padding: 0.2rem;
}
.menu button {
  height: 3rem;
  width: 12rem;
  text-align: start;
  border: none;
  border-radius: 10px;
  margin: 0.1rem;
  background-color: var(--background-color1--);
}
.menu button:hover {
  background-color: var(--color2--);
  transition: 0.2s;
  cursor: pointer;
}
.notification {
  background-color: var(--color2--);
  border-radius: 70%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 9px;
  padding-right: 9px;
  margin-left: 25px;
  font-weight: 600;
}
.Smartpos {
  font-size: 12px;
  text-align: center;
}
